.descripciones{
    @include flex-center;
    background-color: #000000;
    margin: 20px;
    .sobre-nosotros{
      background-color: $primary-color;
      width: 33%;
      margin: 15px;
      padding: 10px; 
      color: #000000;
    }
    .vision{
      background-color: $second-color;
      width: 33%;
      margin: 15px;
      padding: 20px;
      color: #000000;
    }
    .mision{
      background-color: $third-color;
      width: 40%;
      margin: 15px;
      padding: 10px;
      color: #000000;
    }
    h3{
      color: #201d1d;
      text-align: center;
      background-color: white;
    }
}
.encabezado_pf{
   display: flex;
   flex-direction: column;
   font-size: 2em;
   font-style: inherit;
   text-align: center;
   margin: 15px;
   margin-bottom: 3px;
   justify-content: center;
   h2{
    color: #000000;
    background-color: $primary-color;
    padding: 4px;
    border-radius: 5px;  
    }
}
.accordion-completo{
  margin-bottom: 30px;
}
.accordion-button{
background-color: #d18d8d;
}

.foo{
    display: flex;
    background-color: #2f4f4f;
    justify-content: space-evenly;
    .pie1{
       img{
         width: 130px;
         height: 75px;
         margin: 15px;  
        }
    }
    .pieart{
      width: 70%;
      margin: 5px;
        ul{
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          height: 100%;
          align-items: center;
          
          li{
            a{
            text-decoration: none;
            color:$foot-color}
          }
        }
    }
         
}

.bg-zv{
    background-color: #d260d6;
}
@media (max-width: 768px){
 .foo{
   flex-direction: column;
  }
  .pieul{
    flex-direction: column;
  }
  .descripciones{
    flex-direction: column;

  }
}
